.navbar {
    background-color: purple;
    border-color: #E7E7E7;
    color: white;
}

.navbar-brand {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 18pt;
}

a:link {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 18pt;
}
