.jumbotron.banner {
    background: url(../assets/img/queen-band-wallpaper-thin.jpg) no-repeat center;
    background-size: cover;
  }
  
  .h1 {
    font-family: 'Playfair Display SC', serif;
    color: purple;
    font-size: 4rem;
  }

  .jumbotron {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 450px;
	  width: auto;
  }

  

